<div>
  <div *ngIf="!article">
    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
    Loading&hellip;
  </div>
  <div *ngIf="article">
    <h1>{{article.title}}</h1>
    <app-article-date-line [article]="article"></app-article-date-line>
    <div [innerHTML]="article.body | markdown"></div>
    <ng-template [appAccountSignedin]="true" [appAccountSignedinCurrentUser]="article.author">
      <hr />
      <button class="btn btn-outline-primary btn-sm" [routerLink]="['/editor', article.slug]">Edit</button>
    </ng-template>
  </div>
</div>