<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggleArea" aria-controls="navbarToggleArea" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Angular CLI + Bootstrap</a>
  
  <div class="collapse navbar-collapse" id="navbarToggleArea">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/articles">Articles <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/kosmakoff"><i class="fa fa-github" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>