<div>
  <form #formDir="ngForm" [formGroup]="articleForm" novalidate>
    <legend>New/Edit Article</legend>
    <div class="form-group"
      [class.has-success]="title.valid && (title.touched || title.dirty)"
      [class.has-danger]="title.invalid && (title.touched || title.dirty)">
      <label for="titleId" class="form-control-label">Title</label>
      <input type="text" id="title" name="title" class="form-control"
        placeholder="Article Title" formControlName="title"
        [class.form-control-success]="title.valid && (title.touched || title.dirty)"
        [class.form-control-danger]="title.invalid && (title.touched || title.dirty)">
      <div class="form-control-feedback" *ngIf="title.invalid && title.dirty && title.touched">
        <div *ngIf="title.errors?.required">Title is required.</div>
        <div *ngIf="title.errors?.minlength">Title must be at least 4 characters long.</div>
      </div>
    </div>
    <div class="form-group"
      [class.has-success]="body.valid && (body.touched || body.dirty)"
      [class.has-danger]="body.invalid && (body.touched || body.dirty)">
      <label for="bodyId" class="form-control-label">Body</label>
      <textarea type="text" id="body" name="body" class="form-control" rows="4"
        placeholder="Article Body" formControlName="body"
        [class.form-control-success]="body.valid && (body.touched || body.dirty)"
        [class.form-control-danger]="body.invalid && (body.touched || body.dirty)">
      </textarea>
      <div class="form-control-feedback" *ngIf="body.invalid && body.dirty && body.touched">
        <div *ngIf="body.errors?.required">Body cannot be empty</div>
      </div>
    </div>
    <p class="text-center text-md-left">
      <button type="submit" class="btn btn-success" [disabled]="articleForm.invalid"
        (click)="postArticle()">Submit</button>
    </p>
  </form>
</div>